<button (click)="toodeteNimed = this.fjaS.sorteeriAZ(toodeteNimed)">sorteeri A-Z</button>
<button (click)="toodeteNimed = this.fjaS.sorteeriZA(toodeteNimed)">sorteeri Z-A</button>
<button (click)="toodeteNimed = this.fjaS.sorteeriSuurim(toodeteNimed)">sorteeri tähed kasvavalt</button>
<button (click)="toodeteNimed = this.fjaS.sorteeriVaiksem(toodeteNimed)">sorteeri tähed kahanevalt</button>
<button (click)="toodeteNimed = this.fjaS.sorteeriteineAZ(toodeteNimed)">sorteeri teine täht A-Z</button>
<br/>
<button (click)="toodeteNimed = this.fjaS.filtreeriKuni6Tahelised(toodeteNimed)">kuni 6 tähelised</button>
<button (click)="toodeteNimed = this.fjaS.filtreeri6Tahelised(toodeteNimed)">täpselt 6 tähelised</button>
<button (click)="toodeteNimed = this.fjaS.filtreeriALoppuga(toodeteNimed)">a-ga lõppevad</button>
<button (click)="toodeteNimed = this.fjaS.filtreeriLoppevadY(toodeteNimed)">y-ga lõppevad</button>
<button (click)="toodeteNimed = this.fjaS.filtreeriPaarisArvTahti(toodeteNimed)">paaristähti arv sisalduviad</button>
<br/><br/>
<div>Toodete koguarv: {{tooted.length}}tk</div><br/>

<label>Otsi</label>
<input [(ngModel)]="otsitavaTooteNimi" (ngModelChange)="otsi()" type="text">
<br/><br/>

@for (toode of tooted; track $index) {
    <div>{{toode.nimi}} - {{toode.hind}}€</div>
    <button (click)="lisaOstuKorvi(toode)">Lisa Ostukorvi</button>
}
<br/>
<button (click)="tooted = tootedCopy">Taasta</button> <br/>
<button routerLink="/arrays-home" class="nupp">Tagasi Arrayd</button>
