/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Exile&display=swap');

.exile-regular {
  font-family: "Exile", system-ui;
  font-weight: 400;
  font-style: normal;
}