<div>Hetkel aktiivne linn: {{linn}}</div><br/>
<button [class.aktiivne-linn]="linn === 'Tallinn'" class="nupp" (click)="linn = 'Tallinn'">Tallinn</button>
<button [class.aktiivne-linn]="linn === 'Tartu'" (click)="linn = 'Tartu'">Tartu</button>
<button [class.aktiivne-linn]="linn === 'Narva'" (click)="linn = 'Narva'">Narva</button>
<button [class.aktiivne-linn]="linn === 'Pärnu'" (click)="linn = 'Pärnu'">Pärnu</button>
<br/><br/>

@if (linn === "Tallinn") {
    @for (esindus of tallinnaEsindused; track $index) {
        <div>{{esindus}}</div>
    }
} @else if (linn === "Tartu") {
    <div>Lõunakeskus</div>
    <div>Raatuse</div>    
} @else if (linn === "Narva") {
    <div>Fama</div>
} @else if (linn === "Pärnu") {
    <div>Port Artur 2</div>
}
