<div class="main-link-list">
    <div class="main-link" routerLink="work">
        <img src="istockphoto-1490901300-612x612.jpg">
        <p>Tööde lehele</p>
    </div>
    <div class="main-link" routerLink="hobbies">
        <img src="photo-1574629810360-7efbbe195018.jpg">
        <p>Hobide lehele</p>
    </div>
    <div class="main-link" routerLink="courses">
        <img src="channels4_profile.jpg">
        <p>Kursuste lehele</p>
    </div>
</div>
<p class="main-text">Tere tulemast minu lehele</p>
