<label >Hind</label> <br/>
<input [(ngModel)]="hind.number" type="number"><br/>
<label >Hind</label> <br/>
<input [(ngModel)]="hind.sonana" type="text"><br/>
<button (click)="lisa()">Lisa</button>
<table>
    <thead>
        <tr>
            <th>Index</th>
            <th>Hind</th>
            <th>Sõna</th>
            <th>Kustuta</th>
        </tr>
    </thead>
    <tbody>
        @for (hind of hinnad; track $index) {
            <tr>
                <td>{{$index}}</td>
                <td>{{hind.number}}</td>
                <td>{{hind.sonana}}</td>
                <td><button class="nupp" (click)="kustuta($index)">x</button></td>
            </tr>
        }
    </tbody>
</table>
