<label >Auto</label> <br/>
<input [(ngModel)]="auto.nimi" type="text" (ngModelChange)="kasUnikaalne()"><br/>
<label >Auto hind</label> <br/>
<input [(ngModel)]="auto.hind" type="number"><br/>
<label >Auto pilt</label> <br/>
<input [(ngModel)]="auto.pilt" type="text"><br/>
<label >Auto aktiivne</label> <br/>
<input [(ngModel)]="auto.aktiivne" type="checkbox"><br/>
<button class="nupp" [disabled]="nuppAktiivne" (click)="lisa()">Lisa</button>
<table>
    <thead>
        <tr>
            <th>Index</th>
            <th>Auto nimi</th>
            <th>Auto hind</th>
            <th>Aktiivne</th>
            <th>Auto Pilt</th>
            <th>Auti pildi URL</th>
            <th>Muuda</th>
            <th>Kustuta</th>
        </tr>
    </thead>
    <tbody>
        @for (auto of autod; track $index) {
            <tr>
                <td>{{$index}}</td>
                <td>{{auto.nimi | shortener: 10}}</td>
                <td>{{auto.hind | price}}</td>
                <td>{{auto.aktiivne}}</td>
                <td><img class="pilt" src={{auto.pilt}}></td>
                <td><div>{{auto.pilt | shortener: 20}}</div></td>
                <td><button class="nupp" routerLink="/muuda-auto/{{$index}}">x</button></td>
                <td><button class="nupp" (click)="kustuta($index)">x</button></td>
            </tr>
        }
    </tbody>
</table>
