<button type="button" class="btn btn-secondary btn-sm" (click)="sortAZ()">A-Z</button>
<button type="button" class="btn btn-secondary btn-sm" (click)="sortZA()">Z-A</button>
<button type="button" class="btn btn-secondary btn-sm" (click)="sortPrice(false)">↑Price↑</button>
<button type="button" class="btn btn-secondary btn-sm" (click)="sortPrice(true)">↓Price↓</button>
<button type="button" class="btn btn-secondary btn-sm" (click)="sortRating(false)">↑Rating↑</button>
<button type="button" class="btn btn-secondary btn-sm" (click)="sortRating(true)">↓Rating↓</button>