@if (tooted.length > 0) {
    <button class="nupp" (click)="empty()">Tühjenda</button>
    <div>Ostukorvis on {{tooted.length}} eset</div>
} @else {
    <div>Ostukorv on tühi</div>
}

@for (toode of tooted; track $index) {
    <span>{{toode.nimi}}</span>
    <button class="nupp" (click)="kustuta($index)">x</button>
    <br/><br/>
    <select>
        @for (pakiautomaat of pakiautomaadid; track $index) {
            <option>{{pakiautomaat.name}}</option>
        }
    </select>
}

@if (tooted.length > 0) {
    <div>Ostukorvi kogusumma on {{arvutaKogusumma()}}€</div>   
}
