<label>Ülalpeetavad</label>
<select [(ngModel)]="ylalpeetavad" (ngModelChange)="uuendaLimiiti()">
    <option>0</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
</select> <br/>
<label>Netosissetulek</label>
<input [(ngModel)]="netosissetulek" (ngModelChange)="uuendaLimiiti()"/><br/>
<label>Kohustused</label>
<input [(ngModel)]="kohustused" (ngModelChange)="uuendaLimiiti()"/><br/><br/>

<div>Maksimaalne pakutav limiit</div>
<div>{{limiit}}€</div>
