<button (click)="tootajateEesnimed = this.fjaS.sorteeriAZ(tootajateEesnimed)">Sorteeri A-Z</button>
<button (click)="tootajateEesnimed = this.fjaS.sorteeriZA(tootajateEesnimed)">Sorteeri Z-A</button>
<button (click)="tootajateEesnimed = this.fjaS.sorteeriSuurim(tootajateEesnimed)">Sorteeri tähed kasvavalt</button>
<button (click)="tootajateEesnimed = this.fjaS.sorteeriVaiksem(tootajateEesnimed)">Sorteeri tähed kahanevalt</button>
<button (click)="tootajateEesnimed = this.fjaS.sorteeriteineAZ(tootajateEesnimed)">Sorteeri Teine täht A-Z</button>
<button (click)="tootajateEesnimed = this.fjaS.sorteeriSonadeArvu(tootajateEesnimed)">Sorteeri sõnade arvu järgi</button>
<br/>
<button (click)="tootajateEesnimed = this.fjaS.filtreeriTapselt3Tahelised(tootajateEesnimed)">Täpselt 3 tähelised</button>
<button (click)="tootajateEesnimed = this.fjaS.filtreeriLyhendAi(tootajateEesnimed)">"ai" lühendit sisaldavad</button>
<button (click)="tootajateEesnimed = this.fjaS.filtreeriKellelNeljasTahtI(tootajateEesnimed)">Kellel on neljas täht "i"</button>
<button (click)="tootajateEesnimed = this.fjaS.filtreeriMTahegaAlgavad(tootajateEesnimed)">'M' tähega algavad</button>
<br/>
<button (click)="tootajateEesnimed = this.fjaS.filtreeriPaarisArvTahti(tootajateEesnimed)">Huvitav: Paarisarv tähti</button>
<button (click)="tootajateEesnimed = this.fjaS.filtreeriALoppuga(tootajateEesnimed)">filtreeri a'ga lõppevad</button>
<button (click)="tootajateEesnimed = this.fjaS.filtreerivahemalt5Tahelised(tootajateEesnimed)">vähemalt 5 tähelised</button>
<button (click)="tootajateEesnimed = this.fjaS.filtreeriTapselt5tahelised(tootajateEesnimed)">täpselt 5 tähelised</button>
<button (click)="tootajateEesnimed = this.fjaS.filtreeriLyhendigaIn(tootajateEesnimed)">'in' lühendit sisaldavad</button>
<button (click)="tootajateEesnimed = this.fjaS.filtreeriKellelTeineTahtA(tootajateEesnimed)">kellel on 2's täht "a"</button>
<br/><br/>

@for (tootaja of tootajad; track $index) {
    <div>{{tootaja}}</div>
}
<br/>
<button (click)="tootajad = tootajadCopy">Taasta</button> <br/>
<button routerLink="/arrays-home" class="nupp">Tagasi Arrayd</button>