    <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div style="background-color: gold;" class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div class="dash"></div>
        <a class="navbar-brand" routerLink="/">Tiigri Pood</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" routerLink="/ostukorv">{{'nav.cart' | translate}}</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/kinkekaardid">{{'nav.add-product' | translate}}</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/seaded">{{'nav.add-product' | translate}}</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/lisa-toode">{{'nav.settings' | translate}}</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/kalkulaator">{{'nav.calculator' | translate}}</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/arrays-home">{{'nav.data' | translate}}</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/halda-home">{{'nav.modify_data' | translate}}</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/halda-home">{{'nav.contact-us' | translate}}</a>
            </li>
        </ul>
        <button class="nupp" (click)="translate.use('et')">ET</button>
        <button class="nupp" (click)="translate.use('en')">EN</button> <br/>
        <div class="dash"></div>
        </div>
    </div>
    </nav>