.pilt {
    max-width: 90%;
    height: auto;
}

.pilt:hover {
    cursor: pointer;
    background: black;
    opacity: 70%;
}

.pilt:active {
    transform: scale(90%);
}

.body{
    width: auto;
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
    background-color: gold;
}