.pilt {
    max-width: 90%;
    height: auto;
}

.pilt:hover {
    cursor: pointer;
    background: black;
    opacity: 70%;
}

.pilt:active {
    transform: scale(90%);
}

.nupp {
    background-color: brown;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.nupp:hover {
    background-color: darkred;
    cursor: pointer;
}

.nupp:active {
 text-decoration: underline;   
}

.body{
    margin: 0 !important;
    padding: 0 !important;
    background-color: gold;
}