<body class="body">
<img routerLink="/" class="pilt" src="https://images.squarespace-cdn.com/content/v1/607f89e638219e13eee71b1e/1684821560422-SD5V37BAG28BURTLIXUQ/michael-sum-LEpfefQf4rU-unsplash.jpg"><br/>
<button routerLink="/ostukorv" class="nupp">Ostukorvi</button>
<button routerLink="/esindused" class="nupp">Esindused</button>
<button routerLink="/kinkekaardid" class="nupp">Kinkekaardid</button>
<button routerLink="/seaded" class="nupp">Seaded</button>
<button routerLink="/lisa-toode" class="nupp">Lisa toode</button>
<button routerLink="/kalkulaator" class="nupp">kalkulaator</button>
<button routerLink="/arrays-home" class="nupp">Arrayd</button>
<br/><br/>
<router-outlet />
</body>