/* You can add global styles to this file, and also import other style files */
 @import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.nupp {
    background-color: brown;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.nupp:hover {
    background-color: darkred;
    cursor: pointer;
}

.nupp:active {
 text-decoration: underline;   
}